body {
	margin-top: 0;
	padding-top: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr, 1fr, 1fr, 1fr;
	background-color: aqua;
  }
  

header {
	flex-direction: column;
}

.top_bar {
	display: flex;
	justify-content: center;
}

nav {
	/* margin-left : auto; */
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: flex;
}

nav a {
	width: 100px;
	text-align: center;
	line-height: 64px;
	display: block;
}

nav li a:hover {
	background-color: gray;
}

.center_horizontal_text {
	display: flex;
	justify-content: center;
}

.center_layout {
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.icon {
	text-align: center;
}

.description {
	margin-right: 5%;
	margin-left: 5%;
}
/* 会社概要 */
.container {
	margin-right: auto;
	margin-left: auto;
	width: 940px;
}



.section-content-row-fluid {
	width: 100%;
}
.portfolio-table-company-info {
	max-width: 50%;
	margin: 0 auto 20px;
	text-align: center;
}

/* お問い合わせ */
.container {
	margin-right: auto;
    margin-left: auto;
	width: 940px;
}

.section-title {
	margin-bottom: 30px;
	text-align: center;
}

.row-fluid .span6 {
    width: 100%;
}

.row-fluid {
	display: table;
	table-layout: fixed;
border-collapse: collapse; /* 境界線の重複を解除 */
width: fit-content;
}

.span6 {
	display: table-cell;
border: 30px solid #fff;
}

.fa-map-marker {
    content: "res/drawable/facebook.png";
}

.section-title h1 {
	background: #e54e19;
    display: inline-block;
    padding: 0 35px;
    text-transform: uppercase;
    color: #fff;
	font-size: 24px;
	margin-bottom: 0;
}

.section-title p {
    font-size: 18px;
    font-weight: 300;
    margin: 30px 0 0;
    color: #666;
}

/* フッター */
footer {
	display: block;
	width: auto;
	height: auto;
	padding-top: 20px;
    padding-bottom: 20px;
	text-align: center;
	background: white;
    border-top: 1px solid #ddd;
}

.copyright {
    font-size: 10.5px;
}
